$primary-color: #55bec5;
$primary-light: #61d3da;
$primary-light2: #ecf6f7;
$second-color: #eba916;
$third-color: #e3900c;
$color-orange01: #fdf5e7;
$color-white: #fff;
$color-gray01: #7a7a7a;
$color-gray02: #848484;
$color-gray03: #eeeeee;
$color-gray04: #cccccc;
$color-gray05: #aaaaaa;
$color-red: red;
$dafault-font-family: -apple-system, BlinkMacSystemFont, "Microsoft JhengHei",
  "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";
